body {
	margin: 0px;
	background-image: url(Background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

html {
  width: 100%;
  height: 100%; 
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content:center;
}

h1 {
	color: white;
	margin-top: 25%;
}

button {
	margin-top: 6%;
}
